*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
	background: black;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 500px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -40px;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 500px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	text-transform: uppercase;
}

.input--kuro {
	max-width: 350px;
	margin-bottom: 3em;
	text-align: center;
	font-weight: 500;
	font-size: 1.7em;
}

.input__field--kuro {
	width: 100%;
	background: transparent;
	color: #9196A1;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--kuro {
	position: absolute;
	left: 0;
	width: 100%;
	color: #df6589;
	pointer-events: none;
}

.input__label--kuro::before,
.input__label--kuro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border: 4px solid #747981;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--kuro::before {
	border-right: none;
}

.input__label--kuro::after {
	left: 50%;
	border-left: none;
}

.input__field--kuro:focus,
.input--filled .input__field--kuro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--kuro:focus + .input__label--kuro::before,
.input--filled .input__label--kuro::before {
	-webkit-transform: translate3d(-10%, 0, 0);
	transform: translate3d(-10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro::after,
.input--filled .input__label--kuro::after {
	-webkit-transform: translate3d(10%, 0, 0);
	transform: translate3d(10%, 0, 0);
}

.input__label-content {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--kuro:focus + .input__label--kuro .input__label-content--kuro,
.input--filled .input__label-content--kuro {
	-webkit-animation: anim-2 0.3s forwards;
	animation: anim-2 0.3s forwards;
}

@-webkit-keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}

@keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}

.checkbox-wrapper *,
.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
	transition: 0.25s ease-in-out;
}

.checkbox-label {
	display: block;
	background: #f3f3f3;
	height: 30px;
	width: 80px;
	border-radius: 50px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 0 2px #dddddd;
}
.checkbox-label .on {
	display: block;
	position: absolute;
	z-index: 0;
	left: 0;
	opacity: 1;
	min-width: 300px;
	line-height: 30px;
	opacity: 0;
	color: #df6589;
}
.checkbox-label .off {
	display: block;
	position: absolute;
	z-index: 0;
	right: 100px;
	text-align: right;
	opacity: 1;
	min-width: 300px;
	line-height: 30px;
	opacity: 1;
	color: #bbbbbb;
}
.checkbox-label:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	border-radius: 50px;
	height: 30px;
	width: 30px;
	background: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
}

.checkbox {
	position: absolute;
	left: -5000px;
}
.checkbox:checked + .checkbox-label {
	background: #df6589;
	box-shadow: 0 0 0 2px #df6589;
}
.checkbox:checked + .checkbox-label .on {
	left: 100px;
	opacity: 1;
}
.checkbox:checked + .checkbox-label .off {
	right: 0px;
	opacity: 0;
}
.checkbox:checked + .checkbox-label:before {
	left: 50px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #df6589;
}